body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cooks{
  background-image: url(https://lh3.googleusercontent.com/proxy/kmRPNncCW8cZYwiX1-YmXEmnBJoANbnsVroPJ5vfWgFMLYWq1a88hx3mXfh-VXoHiI-N0LhM40IAxypSNqFJlN6-pT5940-O-FBNwzQUpalebgbs11dIkwQUmqNmSNM38fhiFf7Y0ChgJVJS9hHt);
  background-size: 1200px 800px;
  padding: 8%;
  
}
.spoil{
  text-align: center;
}

.family{
  color: white;
  text-align: center;
  background-image: url(https://i.ytimg.com/vi/NU82x_SY6I8/maxresdefault.jpg);
  background-size: cover;
  padding-bottom: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

